---
import BaseLayout from "../layouts/BaseLayout.astro";
import BooksList from "../components/BooksList.astro";
import FilterGenre from "../components/FilterGenre.astro";

---

<BaseLayout>
    <h1>Books</h1>
    <main>
        <BooksList />
    </main>
</BaseLayout>
