---
import RandomAuthors from "../components/RandomAuthors.astro";
import RandomBooks from "../components/RandomBooks.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>My little library</h1>
    <RandomBooks />
    <RandomAuthors />
</BaseLayout>
