---
import AuthorCard from "./AuthorCard.astro";
const { authors } = Astro.props;
---

<ul>
    {
        authors.map((author) => (
            <li>
                <a href={`/authors/${author.slug}`}>
                    <AuthorCard author={author} />
                </a>
            </li>
        ))
    }
</ul>

<style>
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    li {
        max-width: 250px;
        height:500px;
        padding: 1rem;
    }
</style>
