---

import fetchApi from "../lib/strapi";
import BookCard from "./BookCard.astro";
import FilterGenre from "./FilterGenre.astro";

const books = await fetchApi({
    endpoint: "books",
    wrappedByKey: "data",
    query: { populate: ["image", "genre"] },
});

const genres = await fetchApi({
    endpoint: "genres",
    wrappedByKey: "data",
});

---

<FilterGenre genres={genres} />

<ul class="list">
    {
        books.map((book) => (
            <li data-genre={book.genre?.slug}>
                <a href={`/books/${book.slug}`}>
                    <BookCard book={book} />
                </a>
            </li>
        ))
    }
</ul>
