---

---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a>
</div>

<style>
    .nav-links {
        font-size: 1.8rem;
        display: flex;
        gap: 3rem;
        justify-content: center;
        padding: 2rem;
        transition: scale 0.4s ease;
    }
    .nav-links a {
        transition: transform 0.4s ease;
    }

    .nav-links a:hover {
        transform: scale(1.2);
    }
</style>
