---
import fetchApi from "../lib/strapi";
import BookCard from "./BookCard.astro";

const books = await fetchApi({
    endpoint: "books",
    wrappedByKey: "data",
    query: { populate: "image" },
});

const getRandomBooks = (array, n) => {
    const shuffle = array.sort(() => 0.5 - Math.random());
    return shuffle.slice(0, n);
};

const randomBooks = getRandomBooks(books, 4);
---

<div class="random__list">
    <h2>
        <a class="list__link" href="/books">Books</a></h2>
        <ul class="list">
            {
                randomBooks.map((book) => (
                    <li>
                        <a href={`/books/${book.slug}`}>
                            <BookCard book={book} />
                        </a>
                    </li>
                ))
            }
        </ul>
</div>
