---
import fetchApi from "../lib/strapi";
import AuthorCard from "./AuthorCard.astro";

const authors = await fetchApi({
    endpoint: "authors",
    wrappedByKey: "data",
    query: { populate: "image" },
});

const getRandomAuthors = (array, n) => {
    const shuffle = array.sort(() => 0.5 - Math.random());
    return shuffle.slice(0, n);
};

const randomAuthors = getRandomAuthors(authors, 4);
---

<div class="random__list">
    <h2><a class="list__link" href="/authors">Authors</a></h2>
    <ul class="author__list">
        {
            randomAuthors.map((author) => (
                <li>
                    <a href={`/authors/${author.slug}`}>
                        <AuthorCard author={author} />
                    </a>
                </li>
            ))
        }
    </ul>
</div>
